* {
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
}
/* RE-USABLE CSS CODES */
.container {
	max-width: 1200px;
	margin: auto;
}
.primary-button {
	background: none;
	background-color: #e9b44c;
	color: black;
	padding: 14px 34px;
	border: none;
	border-radius: 30px;
	font-weight: bold;
}

/* STYLES FOR NAVBAR */
header nav {
	padding-top: 18px;
	padding-bottom: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header nav .logo-section {
	display: flex;
	align-items: center;
	gap: 12px;
}
header nav .links-section ul {
	display: flex;
	gap: 35px;
}
header nav .links-section ul li {
	list-style: none;
}
header nav .links-section ul li a {
	text-decoration: none;
	color: #fbf6ef;
	font-size: 16px;
}
header .nav-container {
	background-color: #2e2622;
}
header nav .logo-section h2 {
	font-size: 26px;
	font-weight: bold;
	color: #e9b44c;
}

/* STYLES FOR BANNER SECTION */
.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(/image/bg-image.avif);

	height: 840px;
}
.banner div {
	width: 670px;
}
.banner .first-sub-heading {
	color: #e9b44c;
	font-size: 14px;
	margin-bottom: 16px;
}
.banner .main-heading {
	font-weight: bold;
	font-size: 52px;
	margin-top: 0px;
	margin-bottom: 20px;
	color: #fbf6ef;
}
.banner .second-sub-heading {
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 16px;
	color: #f0e9dd;
}
